.checkout-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.checkout-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}