.signup-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
    border-radius: 10px;
    position: relative;
    top: 5rem;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.form-container {
    flex: 1;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-right: 20px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.forgot-password {
    color: #aaaaaa;
    text-decoration: none;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.toggle-signin {
    margin-top: 10px;
}

.social-signup {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.google-button,
.facebook-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-button {
    background-color: #f0f0f0;
    color: #000;
}

.facebook-button {
    background-color: #3b5998;
    color: #ffffff;
}