.search-filter {
    background-color: #f1f1f1;
    padding: 20px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10rem;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.filter-section {
    margin-bottom: 20px;
}

.price-inputs {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    width: 48%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.apply-btn,
.clear-btn {
    padding: 8px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
}

.apply-btn:hover,
.clear-btn:hover {
    background-color: #0056b3;
}

.stars {
    display: flex;
}

.star {
    color: #ccc;
    font-size: 20px;
    margin-right: 5px;
}

.star.filled {
    color: #ffcc00;
}